.ContactUsContainer
{
    text-align: center;
    padding: 2% 5%;
    background-color: #395B64;
    max-width: 70vw;
}

.ContactUsContainerHeading
{
    color: wheat;
    font-size: 2rem;
}

.ContactUsContainerContactUs
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #E7F6F2;
    padding: 10px;
}

.icon
{
    cursor: pointer;
}

.icon:hover
{
    color:white;

}