.HeadingLogin
{
    color: #395B64;
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
    display: flex;
    gap: 20px;

}

.LoginContainer
{
    background: #395B64;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#LoginDivClosePasswordIcon
{
    display:none;
}

#LoginDivClosePasswordIcon,#LoginDivShowPasswordIcon
{
    cursor:pointer;
}

.WrongPasword
{
    margin-top: 10px;
    font-size: 15px;
    color: #ff5959;
    display:none;
}

